.subscription-container {
	background: linear-gradient(to bottom, #321386, #904bff);
	text-align: center;
	padding: 50px 0;
	color: white;
	margin-top: 100px; /* Ajuste para que no se superponga con el header */
}

@media only screen and (max-width: 669px) {
	.subscription-container {
		margin-top: 0; /* Ajuste para que no se superponga con el header */
	}
}

.subscription-container h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}

.subscription-options {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 30px;
}

.subscription-plan {
	background-color: #2C2F33;
	border-radius: 10px;
	padding: 20px;
	width: 250px;
}

.subscription-plan h2 {
	margin-top: 0;
	color: #fff;
}

.subscription-plan p {
	color: #fff;
	font-size: 1.1em;
	margin: 10px 0;
}

.price {
	font-size: 1.5em;
	color: #F04747;
	font-weight: bold;
}

.button {
	background-color: #506ac8;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	margin-top: 15px;
}

.features {
	text-align: left;
	color: #f3e5d3;
}

.features li {
	margin-bottom: 10px;
}

.subscription-plan.basic {
	background-color: #ee7300;
}