*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 60%; 
    height: 70vh; 
    display: none;
    z-index: 1; 
    left: 0;
    top: 0;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    border-radius: 10px;
}
.foto{
    background-image: url(../img/pepas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}
.inicio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0.5px solid orangered;
}

h2{
    color: orangered;
    margin-top: 0;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form input{
    width: 95%;
    height: 7vh;
    margin: 5px;
    padding: 5px;
    margin-top: 15px;    border-radius: 15px;
    border: 2px solid orangered;
    border-radius: 10px;
    text-align: center;
}

form button{
    width: 100%;
    height: 7vh;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    background-color: orangered;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
form button:hover{
    background-color: #86BBD8;
    color: #fff;
}
.close {
    position: absolute;
    top: 10px; /* Espacio desde la parte superior */
    right: 20px;
    color: orangered;
    float: right;
    font-size: 50px;
    font-weight: bold;
}
.inicio a{
    text-decoration: none;
    color: orangered;
    font-size: 18px;
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.container .abrir{
    width: 20%;
    height: 7vh;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    background-color: #091057;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
