*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%; 
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    font-family: "Rubik", sans-serif;
}
.contenido{
    width: 60%;
    height: 100vh;
}
.container .login{
    
    width: 40%;
    height: 100vh;
   

} .login .caja-naranja{
    height: 100%;
    width: 100%;
    background-color: #F26419;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    color: white;
}
.formulario{
    max-width: 400px;
    text-align: center;
}

.login form {
/*  margin-top: 40%; */
    background: none;
    box-shadow: none;
    outline: none;
    bottom: unset;
    background-color:#F26419;
    padding: 5px;
   
}

.login input{
    width: 80%;
    height: 7vh;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
    margin-left: 0;
    border: none;
    box-shadow: none;
    outline: none;
    
}

.login .caja-naranja a{
    justify-content: end;
    align-items: end;
    text-decoration: none; 
    color: inherit; 
}
.login input:hover{
    cursor: pointer;
}

.login .iniciar :hover{
    background-color: #86BBD8;
    border: none;
}
.login .caja-naranja a:hover{
    color: black;
    cursor: pointer;
}
.login .iniciar{
    background-color: #F6AE2D;

}

.container .volver{
    margin: 5px;
    all: unset;
    width: 50px;
    height: 50px;
    font-size: 40px;
    cursor: pointer;
    color: #F26419;
}

.volver :hover{
    color: white;
    border-radius: 10px;
    background-color: rgba(245, 106, 25, 0.603);
}
.contenido{
    background-image:url("../img/medialunas.jpg");
    /*background-size: contain; */
    width: 60%;
    height: 100vh;
    background-repeat: no-repeat;
}

#avisocontra{
    visibility: hidden;
}